.Campaign {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid black;
  max-width: 50vh;
  height: 50%;
  padding: 10px;
}

.Campaign_target_percent {
  color: #22c55e;
  font-weight: 500;
}

.Campaign_target_price {
  font-weight: 500;
}

.Campaign_target {
  display: flex;
  justify-content: space-between;
}

.Campaign_loading {
  border: 1.5px solid black;
  height: 10px;
  background-color: #e5e7eb;
  position: relative;
}

.Campaign_loading_mover {
  background-color: #22c55e;
  width: 68%;
  height: 11px;
  position: absolute;
  bottom: 4px;
  left: 5px;
  border: 1.5px solid black;
}

.Campaign_creator {
  color: #9ca3af;
  font-size: small;
  font-weight: 500;
}

.Campaign_title {
  font-size: large;
}

.Campaign_image_container {
  width: 100%;
  height: 25vh;
  border: 2px solid black;
  overflow: hidden;
}

.Campaign_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (min-width: 768px) {
  .Campaign {
    height: 50%;
    width: 50vh
  }
}

@media (min-width: 1024px) {
  .Campaign {
    height: 50%;
    max-width: 50vh
  }
}